<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ljx.demo.mapper.UsersMapper">

    <resultMap id="BaseResultMap" type="com.ljx.demo.entity.Users">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="head_url" property="headUrl" jdbcType="VARCHAR" />
        <result column="country_num" property="countryNum" jdbcType="VARCHAR" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="first_name" property="firstName" jdbcType="VARCHAR" />
        <result column="last_name" property="lastName" jdbcType="VARCHAR" />
        <result column="full_name" property="fullName" jdbcType="VARCHAR" />
        <result column="is_dealer" property="isDealer" jdbcType="INTEGER" />
        <result column="state" property="state" jdbcType="VARCHAR" />
        <result column="suburb" property="suburb" jdbcType="VARCHAR" />
        <result column="post_code" property="postCode" jdbcType="VARCHAR" />
        <result column="dealer_name" property="dealerName" jdbcType="VARCHAR" />
        <result column="dealer_country_num" property="dealerCountryNum" jdbcType="VARCHAR" />
        <result column="dealer_phone" property="dealerPhone" jdbcType="VARCHAR" />
        <result column="dealer_state" property="dealerState" jdbcType="VARCHAR" />
        <result column="dealer_suburb" property="dealerSuburb" jdbcType="VARCHAR" />
        <result column="dealer_address" property="dealerAddress" jdbcType="VARCHAR" />
        <result column="dealer_post_code" property="dealerPostCode" jdbcType="VARCHAR" />
        <result column="dealer_license_num" property="dealerLicenseNum" jdbcType="VARCHAR" />
        <result column="frozen" property="frozen" jdbcType="BIT" />
        <result column="frozen_start" property="frozenStart" jdbcType="BIGINT" />
        <result column="frozen_end" property="frozenEnd" jdbcType="BIGINT" />
    </resultMap>

    <sql id="Base_Column_List">
        id, email, password, head_url, country_num, phone, first_name, last_name, full_name,
    is_dealer, state, suburb, post_code, dealer_name, dealer_country_num, dealer_phone,
    dealer_state, dealer_suburb, dealer_address, dealer_post_code, dealer_license_num,
    frozen, frozen_start, frozen_end
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from users
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from users
    </select>

    <select id="selectByEmail" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from users
        where email = #{email,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from users
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.ljx.demo.entity.Users"
            useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into users
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="email != null" >
                email,
            </if>
            <if test="password != null" >
                password,
            </if>
            <if test="headUrl != null" >
                head_url,
            </if>
            <if test="countryNum != null" >
                country_num,
            </if>
            <if test="phone != null" >
                phone,
            </if>
            <if test="firstName != null" >
                first_name,
            </if>
            <if test="lastName != null" >
                last_name,
            </if>
            <if test="fullName != null" >
                full_name,
            </if>
            <if test="isDealer != null" >
                is_dealer,
            </if>
            <if test="state != null" >
                state,
            </if>
            <if test="suburb != null" >
                suburb,
            </if>
            <if test="postCode != null" >
                post_code,
            </if>
            <if test="dealerName != null" >
                dealer_name,
            </if>
            <if test="dealerCountryNum != null" >
                dealer_country_num,
            </if>
            <if test="dealerPhone != null" >
                dealer_phone,
            </if>
            <if test="dealerState != null" >
                dealer_state,
            </if>
            <if test="dealerSuburb != null" >
                dealer_suburb,
            </if>
            <if test="dealerAddress != null" >
                dealer_address,
            </if>
            <if test="dealerPostCode != null" >
                dealer_post_code,
            </if>
            <if test="dealerLicenseNum != null" >
                dealer_license_num,
            </if>
            <if test="frozen != null" >
                frozen,
            </if>
            <if test="frozenStart != null" >
                frozen_start,
            </if>
            <if test="frozenEnd != null" >
                frozen_end,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=BIGINT},
            </if>
            <if test="email != null" >
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="password != null" >
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="headUrl != null" >
                #{headUrl,jdbcType=VARCHAR},
            </if>
            <if test="countryNum != null" >
                #{countryNum,jdbcType=VARCHAR},
            </if>
            <if test="phone != null" >
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="firstName != null" >
                #{firstName,jdbcType=VARCHAR},
            </if>
            <if test="lastName != null" >
                #{lastName,jdbcType=VARCHAR},
            </if>
            <if test="fullName != null" >
                #{fullName,jdbcType=VARCHAR},
            </if>
            <if test="isDealer != null" >
                #{isDealer,jdbcType=INTEGER},
            </if>
            <if test="state != null" >
                #{state,jdbcType=VARCHAR},
            </if>
            <if test="suburb != null" >
                #{suburb,jdbcType=VARCHAR},
            </if>
            <if test="postCode != null" >
                #{postCode,jdbcType=VARCHAR},
            </if>
            <if test="dealerName != null" >
                #{dealerName,jdbcType=VARCHAR},
            </if>
            <if test="dealerCountryNum != null" >
                #{dealerCountryNum,jdbcType=VARCHAR},
            </if>
            <if test="dealerPhone != null" >
                #{dealerPhone,jdbcType=VARCHAR},
            </if>
            <if test="dealerState != null" >
                #{dealerState,jdbcType=VARCHAR},
            </if>
            <if test="dealerSuburb != null" >
                #{dealerSuburb,jdbcType=VARCHAR},
            </if>
            <if test="dealerAddress != null" >
                #{dealerAddress,jdbcType=VARCHAR},
            </if>
            <if test="dealerPostCode != null" >
                #{dealerPostCode,jdbcType=VARCHAR},
            </if>
            <if test="dealerLicenseNum != null" >
                #{dealerLicenseNum,jdbcType=VARCHAR},
            </if>
            <if test="frozen != null" >
                #{frozen,jdbcType=BIT},
            </if>
            <if test="frozenStart != null" >
                #{frozenStart,jdbcType=BIGINT},
            </if>
            <if test="frozenEnd != null" >
                #{frozenEnd,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.ljx.demo.entity.Users">
        update users
        <set >
            <if test="email != null" >
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="password != null" >
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="headUrl != null" >
                head_url = #{headUrl,jdbcType=VARCHAR},
            </if>
            <if test="countryNum != null" >
                country_num = #{countryNum,jdbcType=VARCHAR},
            </if>
            <if test="phone != null" >
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="firstName != null" >
                first_name = #{firstName,jdbcType=VARCHAR},
            </if>
            <if test="lastName != null" >
                last_name = #{lastName,jdbcType=VARCHAR},
            </if>
            <if test="fullName != null" >
                full_name = #{fullName,jdbcType=VARCHAR},
            </if>
            <if test="isDealer != null" >
                is_dealer = #{isDealer,jdbcType=INTEGER},
            </if>
            <if test="state != null" >
                state = #{state,jdbcType=VARCHAR},
            </if>
            <if test="suburb != null" >
                suburb = #{suburb,jdbcType=VARCHAR},
            </if>
            <if test="postCode != null" >
                post_code = #{postCode,jdbcType=VARCHAR},
            </if>
            <if test="dealerName != null" >
                dealer_name = #{dealerName,jdbcType=VARCHAR},
            </if>
            <if test="dealerCountryNum != null" >
                dealer_country_num = #{dealerCountryNum,jdbcType=VARCHAR},
            </if>
            <if test="dealerPhone != null" >
                dealer_phone = #{dealerPhone,jdbcType=VARCHAR},
            </if>
            <if test="dealerState != null" >
                dealer_state = #{dealerState,jdbcType=VARCHAR},
            </if>
            <if test="dealerSuburb != null" >
                dealer_suburb = #{dealerSuburb,jdbcType=VARCHAR},
            </if>
            <if test="dealerAddress != null" >
                dealer_address = #{dealerAddress,jdbcType=VARCHAR},
            </if>
            <if test="dealerPostCode != null" >
                dealer_post_code = #{dealerPostCode,jdbcType=VARCHAR},
            </if>
            <if test="dealerLicenseNum != null" >
                dealer_license_num = #{dealerLicenseNum,jdbcType=VARCHAR},
            </if>
            <if test="frozen != null" >
                frozen = #{frozen,jdbcType=BIT},
            </if>
            <if test="frozenStart != null" >
                frozen_start = #{frozenStart,jdbcType=BIGINT},
            </if>
            <if test="frozenEnd != null" >
                frozen_end = #{frozenEnd,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>